<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/quizz.css">
    <title>Quizz</title>
</head>

<body>
    <div>
        <div class="corpo">
            <div id="punteggio"></div>
            <div class="question">Qual è la capitale dell'Italia?</div>
            <div class="option" onclick="checkAnswer(this)">a) Roma</div>
            <div class="option" onclick="checkAnswer(this)">b) Milano</div>
            <div class="option" onclick="checkAnswer(this)">c) Firenze</div>
            <div class="option" onclick="checkAnswer(this)">d) Venezia</div>
        </div>
        <div class="corpo">
            <div id="punteggio"></div>
            <div class="question">Qual è la capitale dell'Italia?</div>
            <div class="option" onclick="checkAnswer(this)">a) Roma</div>
            <div class="option" onclick="checkAnswer(this)">b) Milano</div>
            <div class="option" onclick="checkAnswer(this)">c) Firenze</div>
            <div class="option" onclick="checkAnswer(this)">d) Venezia</div>
        </div>
        <div class="corpo">
            <div id="punteggio"></div>
            <div class="question">Qual è la capitale dell'Italia?</div>
            <div class="option" onclick="checkAnswer(this)">a) Roma</div>
            <div class="option" onclick="checkAnswer(this)">b) Milano</div>
            <div class="option" onclick="checkAnswer(this)">c) Firenze</div>
            <div class="option" onclick="checkAnswer(this)">d) Venezia</div>
        </div>
    </div>
    <script src="static/quizz.js"></script>
</body>

</html>